<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles/howto.css">
</head>
<body>
<header>

    <div class="logo-container">
        <div class="logo">
            <img alt="logo showing the planet Saturn orbited by a rocket" class="logo-rounded" src="/static/img.png"
                 height="64" width="64">
        </div>
        <h1>Hüpattl! Software</h1>
    </div>

    <!--nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav-->
    <hr>
</header>
<main>
    {{.Content}}
</main>
<footer>
    <hr>
    <p>Copyleft 1998-2005, 2023 by Hüpattl! Software | <a href="/imprint">Imprint</a></p>
</footer>
</body>
</html>